// Specific CSS for your home-page
body {
  min-height: 100svh;
  color: white;
  background: rgb(2,0,45);
  background: linear-gradient(90deg, rgba(2,0,45,1) 0%, rgba(43,140,95,1) 55%, rgba(0,208,181,1) 100%);
}

.card-css {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 10px;
  margin: auto;
  background-color: rgb(94, 1, 109);
  max-width: 200vw;
  max-height: 200vw;

}

#title{
  font-family: $header-card;
}
























@media (max-width: 36rem) {
  ul {
    grid-template-columns: 1fr;
  }
}
