// Specific CSS for your home-page
body {
  min-height: 100svh;
  color: white;
  background: rgb(2,0,45);
  background: linear-gradient(90deg, rgba(2,0,45,1) 0%, rgba(43,140,95,1) 55%, rgba(0,208,181,1) 100%);
}

.card-css {
  box-shadow: rgb(255, 0, 179) 0px 24px 25px, rgb(255, 0, 179) 0px -6px 15px, rgb(234, 4, 173) 0px 2px 3px, rgb(250, 3, 127) 0px 6px 7px, rgb(246, 4, 165) 0px -3px 2px;
  padding: 10px;
  margin: auto;
  background-color: rgb(94, 1, 109);
  max-width: 200vw;
  max-height: 200vw;

}

#title{
  font-family: $header-card;
}

#row-styling {
  margin-bottom: 100px;
}
