// Specific CSS for your home-page
body {
  min-height: 100svh;
  color: white;
  background: rgb(2, 0, 45);
  background: linear-gradient(90deg, rgba(2, 0, 45, 1) 0%, rgba(43, 140, 95, 1) 55%, rgba(0, 208, 181, 1) 100%);
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
}

// /* =======RESPONSIVE DEVICES============================*/
// @media (min-width: 200px) {

//   /* ======= GERAL RESPONSIVE DEVICES============================*/
//   body {
//       overflow: auto;
//   }

//   #grid {
//       // min-width: 10svh;
//       display: grid;
//       grid-template-columns: 1fr 1fr;

//   }
// }
