#container1 {

  box-shadow: rgba(255, 0, 179, 0.652) 0px 12px 13px, rgba(255, 0, 221, 0.805) 0px -6px 15px, rgba(219, 4, 234, 0.789) 0px 2px 3px, rgba(250, 3, 217, 0.8) 0px 6px 7px, rgba(246, 4, 238, 0.74) 0px -3px 2px;
  // padding: 10px;
  // margin: 0 auto;
  background-color: rgb(94, 1, 109);
  width: 420px;
  // margin-left: 80px;
  // margin-bottom: 70px;
  margin-top: 50px;
  border-radius: 5px;

  // max-width: 420px;
  margin-bottom: 50px;
  // padding-bottom: 0px;
  // padding-top: 22px;
}

#reservation_start_date, #reservation_end_date{
  margin-top: 0;
  width: 230px;
}

#reservations {
  box-shadow: rgba(255, 0, 179, 0.652) 0px 12px 13px, rgba(255, 0, 221, 0.805) 0px -6px 15px, rgba(219, 4, 234, 0.789) 0px 2px 3px, rgba(250, 3, 217, 0.8) 0px 6px 7px, rgba(246, 4, 238, 0.74) 0px -3px 2px;
  background-color: rgb(94, 1, 109);
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 27px;
}

h2 {
  margin-top: 10px;
}

.btn {
  margin-bottom: 14px;
  background: linear-gradient(rgba(43,140,95,1) 25%, rgba(0,208,181,1) 100%);
  border-radius: 5px;
  // border-color: rgba(255, 0, 179, 0.652);
  border: 2px solid rgba(255, 0, 179, 0.652);
}
