<div class="container" data-search-pg-target="results">
  <% @lairs.each_slice(3) do |lairs| %>
    <div class="row" id="row-styling">
      <% lairs.each do |lair| %>
        <div class="col-4 p-3" id="special-css">
          <%= link_to lair_path(lair) do %>
          <%# data-search-target="card" REMOVED FROM CARD %>
            <div class="card">
              <%= cl_image_tag lair.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
              <div class="card-body">
              <%# data-search-target="title"REMOVED FROM TITLE %>
                <h5 class="card-title" id="title" ><%= lair.name %></h5>
                <h5 class="card-title" id="price"><%= lair.price %>🔸</h5>
              </div>
             </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
