<div class="card" style="width: 18rem;">
<%# Add image from backup %>
  <div class="card-body">
    <% @lairs.each do |lair| %>
      <h5 class="card-title"><%= lair.name %></h5>
      <h5 class="card-title"><%= lair.price %></h5>
      <p class="card-text"><%= lair.description %></p>
    <% end %>
  </div>
</div>
