<section class="container d-flex">
  <div class="input-group mx-auto p-5" style="width: unset">
    <div class="form-outline">
      <div class="input-wrapper">
        <label for="filter" class="sr-only">Filter</label>
        <%# <i class="fa-solid fa-magnifying-glass"></i> %>
        <input type="search" id="filter" placeholder="Filter" data-search-target="filter" data-action="keyup->search#filterCards"/>
      </div>
    </div>
  </div>
</section>
