
<section id="sec-1">
  <%= render "background" %>
</section>
<section id="sec-2">
  <%# data-controller="search" REMOVED FROM container%>
  <div name="search" class="container">

  <%# <%= render "search", lairs: @lairs %>
  <%= render "search_pg", lairs: @lairs %>

  <%= render "card", lairs: @lairs %>
  </div>
</section>
