.card {
  box-shadow: rgba(255, 0, 179, 0.652) 0px 12px 13px, rgba(255, 0, 221, 0.805) 0px -6px 15px, rgba(219, 4, 234, 0.789) 0px 2px 3px, rgba(250, 3, 217, 0.8) 0px 6px 7px, rgba(246, 4, 238, 0.74) 0px -3px 2px;
  background-color: rgb(94, 1, 109);

  max-width: 200vw;
  max-height: 200vw;
  margin: auto;

  text-align: left;
  border-radius: 17px;
  transition: ease .5s;
}

.card:hover {
  transform: translate3D(0,-1.5px,0) scale(1.05);
}

.card:not(:hover) {
  opacity: 0.9;
}


.card-img-top{
  border-radius: 17px 17px 0 0;
}

#title {
  font-family: $header-card;
  font-size: 100%;
  color: white;
}

#price {
  color: white;
  font-size: 100%;
}

#special-css a {
  text-decoration: none;
}


@media only screen and (max-width: 450px) {
  .card {
    height: 35svh;
    width: 35svw;
    font-size: 70%;
    max-block-size: 60%;
  }

  #responsive {
    background-size: contain;
  }
}
