.navbar-lewagon {
  justify-content: space-between;
  background: #091821;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.brand-name {
  color: white;
  margin-left: 20px;
  font-family: $brand-font;
  font-size: 41px;
  letter-spacing: 8px;
}

.container-fluid {
  padding: 0 43px;
}

.nav-link {
  color: white;
  font-size: 25px;
}

.nav-link:hover {
  color: #00D0B5;
}


@media only screen and (max-width: 450px) {
  #navbar {
    background-color: hsla(197, 100%, 11%, 0.8);
    border-radius: 20%;
  }

  .brand-name {
    font-size: 90%;
}
}
