.navbar-lewagon {
  justify-content: space-between;
  background: #091821;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.brand-name {
  color: white;
  margin-left: 20px;
  font-family: $brand-font;
  font-size: 41px;
  letter-spacing: 8px;
}

.container-fluid {
  padding: 0 43px;
}
